.job-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;

}

.job-filters {
  display: flex;
  justify-content: space-around;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.search-jobs-heading-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search-jobs-container {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
   border-bottom: 1px solid #3522e2;
  color: #000;
}


.css-12s5830 .MuiBadge-badge {
  right: -8px;
  top: -4px;
}

.individual-card {
  display: flex;
  gap: 8px;
}

.company-info-wrapper>h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.company-info-wrapper>h2 {
  font-size: 14px;
  line-height: 1.5;
}

.easy-apply-button {
  width: 100%;
  background-color: #55EFC4;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 18px;

}

.referral-button {
  width: 100%;
  background-color: rgb(73, 67, 218);
  font-weight: 500;

}

#custom-btn {
  background-color: #1a73e8;
  color: #fff;
  text-transform: none;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 5px 0;
}
.job-post-date-wrapper {
    display: flex;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 8px;
}
.job-post-date {
    display: flex;
    align-items: flex-start;
    padding: 5px 10px;
    flex-wrap: wrap;
    gap: 5px;
     padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
}
